/*
Joomla 2.5 specific styles
====================================================
Table of Contents:
Ctrl/Cmd + F to find the @groups named below

@group Article Column Structure
@group Categories/Archives
@group Article Info
@group Pagination
@group Contact
@group Misc. Joomla! Styles

*/


/* @group Article Column Structure */

/* DEFAULT HTML *****************************/
html {
	height: 100%;
}
body{
	min-height: 100%;
	position: relative;
}
body.toolbarpadding {
	padding-top: 0;
}

/* style the default Joomla image captions */
p.img_caption {
	font-style: italic;
	font-size: .75em;
	text-align: center;
	background: #f7f7f7;
}
/* TEMPLATE SPECIFIC CSS CODE */
#header {
	background:#FFF;
	margin-bottom: 10px; 
}
#header #logo h2 { display: none; }
#pathway{
	background:#FFF;
}
#stage{
	border-bottom:1px solid #E0E0E0;
	background:#F8F8F8;
}
.elements{
	border-bottom:1px solid #CCC;
	background:#FFF;
}
#container{
	border-bottom:1px solid #CCC;
	background:#FFF;
}


/* CONTENT BUTTONS */
.btn-group.actions .btn img { height: 16px; }


/* positions margins */
#toolbar, #header, #menu, #featured, #grid-top, #main-content, 
#above-content, #breadcrumbs, #grid-bottom, #grid-bottom2, 
#bottom-menu {
	margin-bottom: 10px;  
}
#below-content { margin-top: 10px; }

/* @ headings ***************************************/
h1, h2, h3, h4, h5, h6{
	line-height: normal;
}
h1{
	font-size: 2.5em;
}
h2{
	font-size: 2em;
}

h3{
	font-size: 1.6em;
}
h4{
	font-size: 1.4em;
}
h5{
	font-size: 1.2em;
}
h6{
	font-size: 1em; 
}
/* @ end headings */

/* @ Footer **************************************/

.footer1, .footer2 {
    text-align: center;
}

a.joomlashack {
    display: block;
    margin: 10px auto;
    text-align: center;
    text-indent: -1000em;
    width: 75px;
    background: url("../images/jscright.png") no-repeat scroll 0 0 transparent;
}


#footer a:hover{
	color: gray;
}
#footer{
	color:#fff;
	overflow:hidden;
	background-color:#1b1b1b;
	background-image:-moz-linear-gradient(top,#222,#111);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#222),to(#111));
	background-image:-webkit-linear-gradient(top,#222,#111);
	background-image:-o-linear-gradient(top,#222,#111);
	background-image:linear-gradient(to bottom,#222,#111);
	background-repeat:repeat-x;border-color:#252525;
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0)
}

#footer.sticky {
	width: 100%;
	bottom: 0;
	position: absolute;
}

/* @ end Footer */

/* @ loging ***************************************/
.login{
	margin-right:10px;
}
/* @ login -- nav */
.nav.well.nav-list{
	margin: 5px 0;
	padding: 5px;
}
.nav.well.nav-list li{
	margin-left: 0;
	margin-right: 0;
}

/* @ end Login */


/* @ Smart Search  ***************************************/
#finder-filter-select-list{
	list-style: none;
	margin-left: 10px;
}

/* @ end Smart Search */

/* @ Article pagination ***************************************/
.pagenav.pager{
	float:right;
}
/* Article Pagination */

ul.pagenav, .pagination ul {
	text-align:center;
	margin: auto;
	list-style: none;
	display: inline-block;
}
ul.pagenav li, .pagination ul li {
	display:inline;
}
/* @ end Article pagination */

/* @ Select exept sidebar's  ***************************************/
select{
	border-radius: 5px;
	width: 224px;
}

/* @ end Select exept sidebar's */

/* @ Tag general ***************************************/

dd {
	margin-bottom: 10px;
}
label{
	float: left;
	line-height: 26px;
	min-width:70px;
	margin-right: 10px;
}
.search label{
	min-width:0;
}
li{
	margin-bottom: 3px;
	line-height: normal;
}

select[multiple], select[size]{
	float: left;
	margin-right: 10px;
}
.newsfeed-category select#limit,
.blog-featured select#limit,
.contact-category select#limit {
	float: none;
}
#finder-filter-select-list label{
	min-width: 129px;
}
ul.nobullet{
	list-style: none outside none; 
}
/* @ Users Manager   ***************************************/
/* @ edit your profile */
dt label{
	min-width: 155px;
}

/* @ Blog   ***************************************/
.contentpaneopen, .blog {
	width: 100%;
}
.blog {
	margin: 0 0 20px 0;
}
.article_column {
	padding: 10px 0;
}
.column_separator {
	padding: 20px 1%;
}
.items-leading {
	display: inline-block;
	width: 100%;
}
.items-row {
	overflow:hidden
}
/*
.column-1, .column-2, .column-3, .column-4 {
	padding:10px 5px;
}
*/
.leading {
	clear: both;
}
p.readmore {
	margin: 0;
	padding: 0;
}

@media (max-width:767px) {
	div.items-row div.item {
		clear: both;
	}
}

/* @ Article Info  ***************************************/
dl.article-info {
	clear:both;
	float:none;
	display:block;
	width:100%;
	min-height:20px;
	margin:10px 0;
	font-size:0.8em;
}
dl.article-info dt {
	display:none;
}
dl.article-info dd {
	line-height: 24px;
	min-height: 24px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	background:none;
	display:inline-block;
	float:none;
	clear:none;
	zoom:1;
	margin:0;
	padding:0 5px;
	width:auto;
	cursor: default;
}

dl.article-info dd:hover {
	background-color: #FBF4F4;
}

dl.article-info dd:hover > i {
	font-size: 1.4em;
}
/* @ Icons   ***************************************/

[class^="icon-"], [class*=" icon-"]{
	background-image: none;
	width: auto;
	height: auto;
	vertical-align: middle;
	margin-top: 0;
}

a [class^="icon-"], a [class*=" icon-"] {
	text-decoration: none;
}

.icon-white, .nav > .active > a > [class^="icon-"], .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"] {
	background-image: none;
}


/* @ Icons Articles Info  ***************************************/
dl.article-info dd [class^="icon-"], dl.article-info dd [class*=" icon-"] {
	width: 16px;
	background-image: none;
	font-size: 1.2em;
	height:auto;
	display: inline-block;
	text-align: center;
}
/* @  NavBar second Level   ***************************************/
.navbar .nav li li.dropdown.open > .dropdown-toggle, 
.navbar .nav li li.dropdown.active > .dropdown-toggle, 
.navbar .nav li li.dropdown.open.active > .dropdown-toggle{
	color: white;
}


/* @  Article   ***************************************/
.item-page {
	overflow: hidden;
}
/* @end */




/* @group Categories/Archives *****************************************/

div.categories-list ul, 
div.categories-list li, 
div.cat-children ul, 
div.cat-children li {
	list-style: none;
	margin: 0;
	padding: 0;
}
div.cat-children li,
div.categories-list li{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
div.categories-list ul ul li:last-child,
div.cat-children ul ul li:last-child{
	border-bottom-color:transparent; 
	margin-bottom: 0;
    padding-bottom: 0;
}
div.categories-list ul ul,
div.cat-children ul ul{
	margin-left: 20px;
	margin-top: 20px;
}
div.categories-list li.first, 
div.cat-children li.first, 
div.cat-children li.last {
	margin-left: 0;
}
div.categories-list li.first ul li, div.categories-list li.last ul li, div.cat-children li.first ul li, div.cat-children li.last ul li {
	margin-left: 20px;
}
div.categories-list span.item-title, div.cat-children span.item-title {
	font-size: 18px;
	display: block;
	margin: 10px 0px;
	
}
div.categories-list ul ul span.item-title,
div.cat-children ul ul span.item-title{
	font-size: 16px;
}

span.article-count, span.weblink-count, span.contact-count, span.newsfeed-count {
	float: right;
	clear: both;
}
/* Category Tables *****************************************/

table.category p {
	margin: 0;
}
table.category a.category {
	font-weight: bold;
}
/* Categories Module *****************************************/

ul.categories-module li h4 {
	margin: 0px 0px 5px 0px;
}
ul.categories-module p {
	margin: 0px 0px 0px 0px;
	padding-bottom: 5px;
}
.module ul.category-moduleS3 li, .moduleS1 ul.category-moduleS3 li, .moduleS2 ul.category-moduleS3 li, .moduleS3 ul.category-moduleS3 li {
	list-style: none;
	margin: 0;
	padding: 0;
	background: none;
}
/* @end */




/* @group Article Info  *****************************************/


.article-info-box {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}
.article-info-term {
	clear: both;
	display: none;
}
.article-info {
	width: 100%;
	clear: both;
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}
body.dark dl.article-info {
	border-bottom: 1px dotted #000;
}
li.parent-category-name, li.category-name, li.create, li.modified, li.published, li.createdby, li.hits {
	padding: 1px 10px 1px 20px;
	font: 11px/1.5em Helvetica, Tahoma, Verdana, sans-serif;
	margin: 0;
	float: left;
}
span.content_rating {
	padding: 0;
	width: 100%;
	font-size: 11px;
}
span.content_rating img {
	padding: 2px 1px;
	vertical-align: bottom;
}
span.content_vote input {
	margin: 0px 3px;
	vertical-align: baseline;
}
span.content_vote {
	font-size: 11px;
	display: inline-block;
	margin: 5px 0px;
}

/* Print & PDF Icons *************************************************************/
ul.actions{
	float: right;
}
ul.actions, ul.actions li {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.actions li {
	padding: 0px 2px;
}
/* @end */

/*  Style Float Images *************************************************************/
.alignleft{
	float: left;
	margin: 0 5px 5px 0;
}
.alignright{
	float: right;
	margin: 0 0 5px 5px;
}


/* Category Pagination *************************************************************/

.pagination  {
	display: table;
	text-align: center;
	font-size: 12px;
	margin: 10px auto 20px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.pagination li:first-child span{
	border-left-width: 0px;
}
.pagination li span{
	border-width: 0;	
}
.pagination span {
	padding: 0px;
}
div.disabled{
	display: inline;
}
.counter, .pagenavcounter {
	display: inline-block;
	line-height:35px;
	margin-right:5px;
	text-align: center;
}
/* @end */

/* @group Contact *******************************************************************************************/


body.light div.panel {
	border-bottom: 1px solid #ccc;
}
body.dark div.panel {
	border-bottom: 1px solid #000;
}
/* @end */


/* @group Misc. Joomla! Styles *******************************************************************************************/


.jicons-icons {
	float: left;
	margin: 0px 5px 0px 0px;
}
.hidelabeltxt {
	display: none;
	visibility: hidden;
}
.filter-search {
	float: left;
	margin-right: 10px;
}
.display-limit {
	float: left;
}
.fl-right {
	float: right;
}
.login-fields {
	margin: 10px 0px;
	
}

span.star {
	color: red;
}
/* Tool Tips *******************************************************************************************/
.tip-wrap {
	text-align: left;
	padding: 5px 7px;
	border: 2px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #ffd758;
	border-color: #ffb30a;
	box-shadow: 1px 1px 0 #fff5d6 inset, -1px -1px 0 #fff5d6 inset;
	-moz-box-shadow: 1px 1px 0 #fff5d6 inset, -1px -1px 0 #fff5d6 inset;
	-webkit-box-shadow: 1px 1px 0 #fff5d6 inset, -1px -1px 0 #fff5d6 inset;
	text-shadow: #fff0c0 1px 1px 0;
}
.tip-text {
	color: #4f3b0e;
	line-height: 140%;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 12px;
	display: block;
	width: 100%;
	white-space: nowrap;
}
.tip-title {
	font-weight: bold;
	font-size: 14px;
	color: #322508;
}
/* User Form Submission *******************************************************************************************/

.formelm {
	padding: 5px;
	overflow: hidden;
}
.formelm label {
	float: left;
	width: 100px;
	margin-right: 10px;
}
.formelm-buttons {
	margin: 20px 0px;
}
.formelm select {
	margin-left: 0px;
}
.button2-left a {
	font-weight: bold;
	text-decoration: none;
	font: bold 12px/28px Helvetica, Arial, sans-serif;
	margin: 0px 10px 0px 0px;
	padding: 0px 10px;
	float: left;
	width:auto;
	position:relative;
	left:auto;
	background-color: #eee;
	background: -moz-linear-gradient(top center, #fff 0%, #eee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));
	border: 1px solid #d6d6d6;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-moz-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
	-webkit-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
	box-shadow: 0 0;
}
/* Button *******************************************************************************************/
.button,
.validate{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.button.finder{
	margin:0 5px 10px;
}

/* form Editor *******************************************************************************************/


#jform_description_tbl{
	float: left;
}

#editor-xtd-buttons
{
	clear: both;
    overflow: hidden;
    padding: 10px 0;
}

/* Image Create Article  ******************************************************/
img.calendar{
	margin-left: 3px;
}


.formelm-area label{
	min-width: 108px;
}
.fltlft{
	float: left;
	margin-right: 10px;
}
.button2-left a:hover {
	background-color: #f6f6f6;
}
#system-message li {
	padding: 0;
}
.register {
	padding: 10px 0px;
}
.register label {
	width: 15em;
	display: inline-block;
}

/* Images and links ***********************************************************************************/

.img-intro-left,
.img-fulltext-left {
	float: left;
	margin: 10px;
}

.img-intro-right,
.img-fulltext-right {
	float: right;
	margin: 10px;
}

p.img_caption,
.item p.img_caption,
.item-page p.img_caption {
	clear: none;
}

/* toc ****************************************************************************************************************************/

div#article-index {
	margin: 5px;
	float: right;
	width: auto;
}

div#article-index ul {
	margin: 0;
	padding: 0;
}
a.toclink.active{
	color: #555555;
}

div.pagenavcounter {
	color: #4F4F4F;
	text-align: left;
	background-color: #FAFAFA;
	padding: 0 5px;
}
div.intro{
	padding-left: 14px;
	padding-right: 10px;
}
ul#archive-items{
	list-style: none ;
	margin: 0;
}

/* Toolbar */

#toolbar {
	margin-bottom: 0;
}

nav div.toolbar {
	padding-left: 40px;
	padding-right: 40px;
}
.toolbar.container{
	margin-left: 10px;
}
.wrapper-toolbar{
	min-height: 40px;
}
/* Menu - Bootstrap Dropdown Navbar - Addition for multi-level ***********************************************************************************/

.navbar .nav li {
	margin-bottom: 0;
	line-height: inherit;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li > span:hover,
.dropdown-menu .active > span{
	background-color: #0081C2;
    background-image: -moz-linear-gradient(center top , #0088CC, #0077B3);
    background-repeat: repeat-x;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}

.dropdown-menu a,
.dropdown-menu span.separator {
    clear: both;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 15px;
    white-space: nowrap;
}

.dropdown-menu li:hover > .sub-menu {
    visibility: visible;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.nav-tabs {
	border-bottom: 2px solid #DDDDDD;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.navbar a.dropdown-toggle i {
    height: 100%;
    line-height: 100%;
    vertical-align: baseline;
}

.nav > li > span.separator {
    display: block;
    cursor: default;
}

.navbar .nav > li > span.separator {
    color: #555555;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}

.navbar .nav > .active > span.separator, .navbar .nav > .active > span.separator:hover, .navbar .nav > .active > span.separator:focus {
    background-color: #E5E5E5;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #555555;
    text-decoration: none;
}
.dropdown-menu .active  > a, .dropdown-menu .active  > a:hover
{
	color: white;
}



dl.label.label-info{
	display: inline-block;
	margin: 0;
	padding: 0 5px;
}
dl.label.label-info dd,
dl.label.label-info dt{
	display: inline-block;
	margin: 0;
}

.well h3{
    color: #999999;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    padding: 3px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}


.feed-description{
	margin-bottom: 20px;
}
.phrases-box,
.ordering-box{
	float: left;
	clear: both;
}

.content_vote input[type="submit"], 
.content_vote input[type="reset"], 
.content_vote input[type="button"],
.content_vote input[type="radio"], 
.content_vote input[type="checkbox"]{
	margin-left: 5px;
    margin-right: 5px;
}
.phrases-box input[type="submit"],
.phrases-box input[type="reset"],
.phrases-box input[type="button"],
.phrases-box input[type="radio"],
.phrases-box input[type="checkbox"],
.only input[type="submit"],
.only input[type="reset"],
.only input[type="button"],
.only input[type="radio"],
.only input[type="checkbox"]{
    clear: both;
    float: left;
    height: 20px;
    margin-right: 10px;
    width: auto;
}
.search-results{
	clear: both;
}
.result-title:first-child{
	border-top-color:transparent; 
}
.result-title{
    border-top: 1px solid #eee;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.result-category,
.result-text,
.result-title{
	 margin-bottom: 10px;
}





/* Contact Form **********************************************************************/

.contact #selectForm{
	margin-top: 10px;
}
.nav-tabs > .open  a {
	background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD transparent;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;	
}
.nav-tabs .tabs a {
    border: 1px solid #ccc;
    background-color:#ccc;
    border-bottom:4px solid #ccc;
    border-radius: 4px 4px 0 0;
    line-height: 18px;
    padding-top: 8px;
}
.nav-tabs .tabs a, .nav-pills .tabs a{
	line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}
.tabs.nav.nav-tabs dt.tabs {
	float: left;
}

.panel:last-child {
    border-bottom: 1px solid gray;
}
.panel {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0 10px;
}
#contact-slider .panel h3 {
    background-color: transparent;
    box-shadow: 0 0;
    margin: 0;
}
.panel h3 {
    margin-bottom: 0;
    margin-left: -10px;
    padding: 5px;
    width: 100%;
    position: relative;
    z-index: 2;
}
.tabs.nav h3{
	margin-bottom: 0;
}
#contact-slider dt h3{
	margin-bottom: 0;
}
.contact-form dt label{
	min-width: 65px; 
}
.result-created{
	color: #999999;
    font-size: 11px;
}
.contact-links,
.contact-articles{
	float: left;
	min-width: 200px;
}
.contact-links + h3{
	clear: both;
}

div:first-child + .panel {
    border-radius: 5px 5px 0 0;
}
.panel:last-child {
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
}
 .panel h3.pane-toggler-down a{
	color: black;
}


/* Style Users Profile **********************************************************************/

#users-profile-core dl,
#users-profile-custom dl{
	background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 18px;
    margin-top: 0;
    overflow:hidden;
    padding: 17px 20px 18px;	
}
#users-profile-core dl dd,
#users-profile-custom dl dd{
	float:left;
}
#users-profile-core dl dt,
#users-profile-custom dl dt{
	float: left;
	min-width: 160px;
	clear: both;
}

/* @ Sidebar special style  ***************************************/

#sidebar1 select,
#sidebar2 select{
	width:auto;
	min-width: 190px;
}
#sidebar1 input.button,
#sidebar2 input.button 
{
	min-width: inherit;
	margin: 0 5px 10px;
}
#sidebar1 input#modlgn-remember,
#sidebar2 input#modlgn-remember{
	min-width: inherit;
}

#sidebar1,
#sidebar2{
	overflow: hidden
}



.stats-module dd,
.stats-module dt{
	float: left;
}
.stats-module dt{
	clear: both;
	min-width: 50px;
}

/* Wrapper More links  ************************************************************/
.items-more.well{
	padding: 0;
}

/* User Registration  ************************************************************/
span.spacer{
	overflow: hidden;
	display: block;
}
/* Module class  ************************************************************/
[class*="span"], .row-fluid [class*="span"]{
	
	margin-bottom: 10px;
	overflow: hidden;
}



    
.icons-left{
	float:left; 
	min-height:16px;
	margin-left: -20px;
}
#mod-finder-advanced{
	clear: both;
}
.category-module p{
	display: block;
    float: left;
    margin: 10px 0;
}
.pagenav.disabled a {
    color: gray;
}
.category-module.nav li,
.weblinks.nav li,
.archive-module.nav li,
.relateditems.nav li,
.mostread.nav li,
.categories-module.nav li,
.latestnews.nav li {
	 padding-left: 20px
}
.feed-link {
	 display: inline-block;
}
/* Newsflash */

div.newsflash a.readmore,
div.newsflash_ms1 a.readmore,
div.newsflash_ms2 a.readmore,
div.newsflash_ms3 a.readmore,
div.newsflash_ms4 a.readmore,
div.newsflash_ms5 a.readmore {
	padding-bottom: 10px;
}
