
@media (max-width: 979px) {
	body,
	body.toolbarpadding {
		padding-top: 0;
	}
	.navbar .btn-navbar {
		margin-bottom: 3px;
	}

	.navbar .nav > li > .dropdown-menu:after,
	.navbar .nav > li > .dropdown-menu:before {
		border-bottom: 0;
		border-left: 0;
		border-right: 0;
	}

	.dropdown-menu .sub-menu {
		left: auto;
		position: relative;
		top: auto;
		visibility: visible;
		margin-top: 0;
	}
	.footer1,
	.footer2{
		float: none;
		text-align: center;
	}
	
}
@media (max-width: 767px){
	
	.tabs.nav.nav-tabs dt.tabs{
		float: none;
	}
	.nav-tabs .tabs a{
		display: block;
	}
	div.items-row div.item {
		clear: both;
	}
	#footer{
		margin-left: -20px;
		margin-right: -20px;
	}
}
